<div class="min-h-screen bg-gray-100 flex flex-col justify-center sm:py-12">
  <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
    <h1 class="font-bold text-center text-2xl mb-5">ورود</h1>
    <div class="bg-white shadow w-full rounded-lg divide-y divide-gray-200">
      <div class="px-5 py-7">
        <label class="font-IRANSansX-Medium text-sm text-gray-600 pb-1 block">شماره موبایل</label>
        <input type="number" pInputText class="rounded-lg w-full">
        <label class="font-IRANSansX-Medium text-sm text-gray-600 pb-1 block">شماره موبایل</label>
        <input type="number" pInputText class="rounded-lg w-full">
        <button pButton pRipple label="Primary"></button>
      </div>
      <div class="p-5">
        <button type="button" class="transition duration-200 border border-gray-200 text-gray-500 w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-normal text-center inline-block">Google</button>
      </div>
    </div>
  </div>
</div>
