<div class="min-h-screen bg-gray-100 flex flex-col justify-center sm:py-12">
  <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
    <h1 class="font-bold text-center text-2xl mb-5">ورود</h1>
    <div class="bg-white p-5 shadow w-full rounded-lg">
      <div>
        <label>شماره موبایل</label>
        <input class="h-10 flex p-5 border rounded-lg w-full" type="text">
      </div>
      <div>
        <label>کلمه عبور</label>
        <input class="h-10 flex p-5 border rounded-lg w-full" type="text">
      </div>

    </div>
  </div>
</div>
