<section class="bg-[#2540a5] py-20">
  <div class="container">
    <div class="grid grid-cols-2 gap-4 w-full">
      <div class="flex flex-col justify-center">
        <h1 class="text-5xl text-white font-bold font_family_Bold">صرافی ارز دیجیتال</h1>
        <h2 class="text-xl mt-5 mb-10 text-white">بازار خرید و فروش ارزهای دیجیتال</h2>
        <div class="relative flex w-96 items-center">
          <input
            placeholder=" شماره موبایل خود را وارد کنید"
            class="input w-96 input-bordered w-full focus:outline-0">
          <button class="btn btn-info absolute left-0">ثبت نام</button>
        </div>
      </div>
      <div class="flex items-center flex-col justify-center"><img class="w-full" src="../../../assets/images/coin-slid.png" alt="coin-slid"></div>
    </div>
  </div>
</section>
