@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IRANSansX-Medium';
  src: url("assets/fonts/IRANSansX-Medium.woff");
}
@font-face {
  font-family: 'IRANSansX-Regular';
  src: url("assets/fonts/IRANSansX-Regular.woff");
}

html , body{
  font-family: 'IRANSansX-Medium';
}
