@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/scss/fonts";
@import "./assets/scss/variables";

.direction_ltr{
  direction: ltr;
}
.direction_rtl{
  direction: rtl;
}

html , body{
  @apply bg-gray-50;
  min-height: 100vh;
  font-family: $font-family-Bold;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0 1rem 0 0;
}
.p-toast .p-toast-message .p-toast-message-content{
  font-family: $font-family-Bold !important;
}
